.product_div {
width: 125%;
margin-top: 100px;
}

.img_div {
float: left;
width: 500px;
height: 500px;
margin-right: 30px;
}

.songs_div {
float: left;
width: 300px;
height: 500px;
margin-right: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.info_div {
float: left;
width: 300px;
height: 235px;
margin-right: 30px;
margin-bottom: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.price_div {
float: left;
width: 300px;
height: 235px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.description_div {
float: left;
width: 1160px;
margin-top: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.add_button_div {
float: left;
position: relative;
left: 25px;
}

.buy_button_div {
float: left;
position: relative;
left: 30px;
}

.name_text {
text-align: center;
position: relative;
top: 10px;
color: #464544;
font-size: 40px;
}

.musician_text {
text-align: center;
position: relative;
top: 20px;
color: #464544;
font-size: 30px;
}

.year_text {
text-align: center;
color: #464544;
font-size: 20px;
margin-top: 60px;
}

.price_text {
text-align: center;
color: #464544;
font-size: 80px;
margin-bottom: 20px;
}

.description_text {
color: #464544;
margin-top: 15px;
margin-left: 30px;
margin-right: 30px;
}

.songs_list {
color: #464544;
margin-top: 20px;
}
