.product_div {
width: 125%;
margin-top: 100px;
}

.img_div {
float: left;
width: 500px;
height: 500px;
margin-right: 30px;
}

.songs_div {
float: left;
width: 300px;
height: 500px;
margin-right: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.info_div {
float: left;
width: 300px;
height: 235px;
margin-right: 30px;
margin-bottom: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.price_div {
float: left;
width: 300px;
height: 235px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.description_div {
float: left;
width: 1160px;
margin-top: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.add_button_div {
float: left;
position: relative;
left: 82px;
}


.add_review_div {
float: left;
width: 1160px;
margin-top: 30px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
}

.all_reviews_div {
float: left;
width: 1160px;
margin-top: 30px;
}

.review_div {
width: 1160px;
border:1px solid #464544;
border-radius: 8px;
background-color: #f5f5f5;
margin-bottom: 30px;
}

.review_img_div {
float: left;
width: 150px;
height: 135px;
}

.review_user_div {
float: left;
display: flex;
width: 1000px;
height: 135px;
}

.review_user_name_div {
width: 460px;
}

.created_date_div {
width: 460px;
margin-left: 30px;
}

.review_content_div {
width: 1160px;
margin-top: 150px;
display: flex;
}

.review_delete_div {
width: 150px;
height: 30px;
margin-left: 30px;
}

.review_content_text_div {
width: 980px;
}

.name_text {
display: flex;
   align-items: center;
   justify-content: center;
line-height: 0.9em;
text-align: center;
position: relative;
top: 10px;
color: #464544;
font-size: 40px;
height: 90px;
}

.musician_text {
text-align: center;
position: relative;
top: 10px;
color: #464544;
font-size: 30px;
}

.year_text {
text-align: center;
color: #464544;
position: relative;
top: 10px;
font-size: 40px;
margin-top: -10px;
}

.price_text {
text-align: center;
color: #464544;
font-size: 80px;
margin-bottom: 20px;
}

.description_text {
color: #464544;
margin-top: 15px;
margin-left: 30px;
margin-right: 30px;
}

.songs_list {
color: #464544;
margin-top: 20px;
}

.add_review_title_text {
color: #464544;
margin-top: 15px;
margin-left: 30px;
margin-right: 30px;
font-size: 40px;
}

.review_form {
margin-left: 30px;
margin-right: 30px;
margin-top: -20px;
}

.review_img {
margin-top: 15px;
margin-left: 30px;
}

.review_user_text {
color: #464544;
font-size: 60px;
margin-left: 30px;
}

.review_created_date_text {
color: #464544;
margin-top: 30px;
margin-left: 30px;
text-align: right;
}

.review_content_text {
color: #464544;
margin-top: 30px;
margin-right: 30px;
}

a:hover {
    text-decoration: none;
    color: #464544;
}

.song_text {
    color: #464544
}