#navbarSupportedContent {
    wight: 100%
}

body {
    background-image: url(../img/dark_wood.jpg);
    background-size: 100%
}

.navbar {
    background-color: #282828
}

.dropdown-menu {
    background: #282828
}

.dropdown-item {
    color: #f5f5f5;
}

#search {
    padding-right: 5px
}

btn btn-outline-success my-2 my-sm-0 {
    color: white;
}

.dropdown-item:hover {
    text-decoration: none;
    color: #f5f5f5;
    background: #282828
}

.ddsl {
    position: relative;
    right: 10px
}