#navbarSupportedContent {
    wight: 100%
}

body {
    background-image: url(../img/light_wood.png);
    background-size: 100%
}

.navbar {
    background-color: #f5f5f5
}

#search {
    padding-right: 5px
}

btn btn-outline-success my-2 my-sm-0 {
    color: white;
}