.product-item {
    display: inline-block;
	border: 1px solid #ffbf00;
	border-radius: 8px;
	position: relative;
	right: 0px;
	background: black;
	margin: 5px;
	text-decoration: none;
	height: 300px;
	width: 250px;
	text-align: center;
}

.all-products {
    position: relative;
    margin: 0px 0 0 -140px;
    top: 20px;
    width: 125%;
    display: center;
}

.item-text {
    color: #ffbf00}