{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/main_page.css">
<ul class="all-products">
    {% for item in products %}
    <li class="product-item">
        <img scr="{{ item.product_photo.url }}" height="250" width="250" alt="No photo now">
        <p class="item-text">{{ item.name }}</p>
        <p class="item-text">{{ item.musician.name }}</p>
        <p class="item-text">${{ item.price }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
