{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/product.css">
<div class="product_div">
    <div class="img_div">
        <img src="https://avatars.mds.yandex.net/get-zen_doc/1860870/pub_5d1283877fc23700aecd6cf5_5d1284b77dc1f900b030f901/scale_1200" height="500" width="500" alt="No photo now">
    </div>
    <div class="info_div">
        <p class="text">{{ product.name }}</p>
        <p class="text">{{ product.musician.name }}</p>
        <p class="text">{{ product.year }}</p>
    </div>
    <div class="price_div">
        <p class="text">{{ product.price }}</p>
    </div>
    <div class="description_div">
        <p class="text">{{ product.description }}</p>
    </div>
</div>
{% endblock %}
