{% extends "base.html" %}

{% block content %}
{% if current_user.dark_theme %}
    <link rel="stylesheet" type="text/css" href="../static/css/single_dark.css">
{% else %}
    <link rel="stylesheet" type="text/css" href="../static/css/single_light.css">
{% endif %}
<div class="product_div">
    <div class="img_div">
        <img src="https://avatars.mds.yandex.net/get-zen_doc/1860870/pub_5d1283877fc23700aecd6cf5_5d1284b77dc1f900b030f901/scale_1200" height="500" width="500" alt="No photo now">
    </div>
    <div class="info_div">
        <p class="name_text">{{ product.name }}</p>
        <p class="musician_text">{{ product.musician.name }}</p>
        <p class="year_text">{{ product.year }}</p>
    </div>
    <div class="price_div">
        <p class="price_text">${{ product.price }}</p>
        {% if current_user.dark_theme %}
            {% if current_user.is_authenticated %}
                <div class="add_button_div">
                    <a class="btn btn-outline-light my-2 my-sm-0 btn-lg" href="/login" role="button">Add to cart</a>
                </div>
                <div class="buy_button_div">
                    <a class="btn btn-outline-light my-2 my-sm-0 btn-lg" href="/login" role="button">Buy now</a>
                </div>
            {% else %}
                <div class="add_button_div">
                    <a class="btn btn-outline-light my-2 my-sm-0 btn-lg" href="/login" role="button">Add to cart</a>
                </div>
                <div class="buy_button_div">
                    <a class="btn btn-outline-light my-2 my-sm-0 btn-lg" href="/login" role="button">Buy now</a>
                </div>
            {% endif %}
        {% else %}
            {% if current_user.is_authenticated %}
                <div class="add_button_div">
                    <a class="btn btn-outline-dark my-2 my-sm-0 btn-lg" href="/login" role="button">Add to cart</a>
                </div>
                <div class="buy_button_div">
                    <a class="btn btn-outline-dark my-2 my-sm-0 btn-lg" href="/login" role="button">Buy now</a>
                </div>
            {% else %}
                <div class="add_button_div">
                    <a class="btn btn-outline-dark my-2 my-sm-0 btn-lg" href="/login" role="button">Add to cart</a>
                </div>
                <div class="buy_button_div">
                    <a class="btn btn-outline-dark my-2 my-sm-0 btn-lg" href="/login" role="button">Buy now</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="description_div">
        <p class="description_text">{{ product.description }}</p>
    </div>
</div>
{% endblock %}
